.ls {
    background: #001030;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.ls-top {
    padding: 20px;
}

.ls-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-nav .logo {
    max-width: 140px;
}

.ls-nav .menu img {
    max-height: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.menu {
    position: relative;
    padding: 10px 0px;
}

.menu .sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    border-radius: 5px;
    padding: 20px;
    background: white;
    color: black;
    display: none;
}

.menu:hover .sub-menu {
    display: block;
}

.sub-menu hr {
    border: none;
    height: 1px;
    background: #a4a4a4;
    margin: 8px 0px;
}

.ls-search {
    background: #002670;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
}

.ls-search img {
    width: 16px;
}

.ls-search input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
    flex-grow: 1;
}

.ls-search input::placeholder {
    color: white;
}

.ls-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.friends {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.friends:hover {
    background: #002670;
}

.friends.active {
    background: #00358a;
}

.friends img {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.friends div {
    display: flex;
    flex-direction: column;
}

.friends span {
    color: #9f9f9f;
    font-size: 12px;
}

.sub-menu p {
    cursor: pointer;
    font-size: 12px;
}

.friends.border {
    border: 3px solid #07fff3;
}

.friends.border div span {
    color: #07fff3;
}
 .friends span {
        font-size: 9px;
    }
@media (max-width: 900px) {
    .ls {
        width: 100%;
    }

}
